<span class="keyspace-collapse-toggle">
  <span class="glyphicon keyspace-collapse-icon">
  </span>
  <span class="keyspace-name"><i class="fa fa-database"></i>{{name}}</span>
</span>
<div class="tables-container">
</div>