<span class="column-name">
  <i class="fa fa-columns" data-toggle="tooltip" title="Column"></i>

  {{#if primary}}
    <i class="fa fa-key" style="font-weight:bold;" data-toggle="tooltip" data-delay='{"show": 500, "hide": 0}' title="Partitioning Key"></i>
  {{else if clusterColumn}}
    <i class="fa fa-key" data-toggle="tooltip" data-delay='{"show": 500, "hide": 0}' title="Clustering Column"></i>
  {{else if secondaryIndex}}
    <i class="fa fa-hand-o-right" data-toggle="tooltip" data-delay='{"show": 500, "hide": 0}' title="Secondary Index"></i>
  {{/if}}
  {{name}}
</span>
<span class="pull-right" data-toggle="tooltip" data-delay='{"show":500, "hide":0}' title="Column type">{{type}}</span>
