<span class="column-name">
  <i class="fa fa-columns"></i>

  {{#if primary}}
    <i class="fa fa-key" style="font-weight:bold;"></i>
  {{else if clusterColumn}}
    <i class="fa fa-key"></i>
  {{else if secondaryIndex}}
    <i class="fa fa-hand-o-right"></i>
  {{/if}}
  {{name}}
</span>
<span class="pull-right">{{type}}</span>
