<span class="table-collapse-toggle">
  <span class="fa table-collapse-icon"></span>
  <span class="table-name"><i class="fa" data-toggle="tooltip" data-delay='{"show": 500, "hide": 0}' title="Table"></i>{{name}}</span>
</span>
<div class="columns-container"></div>