<div class="modal fade" id="helperModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="modal-title">Information</h4>
      </div>
      <div class="modal-body">
        <div class="info-body">Hello World!</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn close-btn" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->