
$midnight: #2c3e50;
$asphalt: #34495e;
$asbestos: #7f8c8d;
$silver: #bdc3c7;
$clouds: #ecf0f1;
$cloudsD: #E1E5E7;
$wisteria: #8e44ad;
$amethyst: #9b59b6;
$belize: #2980b9;
$river: #3498db;
$alizarin: #e74c3c;

#queryRegion {
  position: absolute;
  width: 75%;
  height: 100%;
  left: 25%;
}

#queryRegion > div {
  height: 100%;

  #tabsRegion {
    width: 100%;
    // width: 94%;
    height: 50px;
    background-color: $asphalt;
    display: inline-block;
    position: relative;
    .query-tabs {
      position: absolute;
      top: 10px;
      padding: 0 25px;
      margin-bottom: 0px;
      .query-tab {
        height: 40px;
        background-color: white;
        display: inline-block;
        width: 175px;
        border-radius: 7px 7px 0 0;
        text-align: center;
        padding-top: 10px;
        margin-right: 3px;
        font-size: 18px;
        .tab-name {
          width: inherit;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          display: block;
          padding: 0 10px;
        }
      }
    }
  }

  .query-button-container {
    display: inline-block;
    height: 50px;
    background-color: $asphalt;
    width: 6%;
    position: fixed;
    .add-query {
      font-size: 50px;
      color: white;
      position: absolute;
      left: 10px;
    }
  }

  #queries {
    height: calc(100% - 55px)
  }

  #queries > div, .query-builder {
    height: 100%;
  }

  .query-field {
    height: 30%;
    position: relative;
    border-bottom: 1px solid $cloudsD;
    > textarea {
      width: 90%;
      height: 60%;
      position: absolute;
      top: 12.5%;
      left: 5%;
      resize: none;
      font-size: 18px;
      padding: 10px 15px;
      border-radius: 3px;
      background-color: $clouds;
      border-color: $cloudsD;
      &:focus {
        outline-color: $river;
      }
    }
    > .run-query {
      position: absolute;
      bottom: 5%;
      right: 5%;
      color: $clouds;
      background-color: $river;
      &:hover {
        background-color: $belize
      }
      &:focus {
        outline: none;
      }
    }
  }
  .resultsRegion {
    height: 70%;
    border-top: 1px solid $clouds;
    margin: 0 1%;
    border: 1px solid $asphalt;
    background-color: $clouds;
    position: relative;
    .results-table {
      height: 100%;
      overflow-x: scroll;
      position: relative;
      .fa-spinner {
        font-size: 100px;
        position: absolute;
        top: 40%;
        left: 45%;
        color: $river;
      }
      .headers-container {
        position: absolute;
      }
      .result-headers > tr {
        background-color: $asphalt;
        th > div {
          color: white;
          padding: 5px 6px;
          border: 1px solid $silver;
          font-weight: 200;
        }
      }
      .results-container {
        margin-top: 31px;
      }
      .result-rows .result-data-container {
        border: 1px solid $cloudsD;
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 3px 10px 3px 5px;
      }
      .json-data {
        cursor: pointer;
        &:hover {
          background-color: $silver;
        }
      }
    }
  }
}