
$midnight: #2c3e50;
$asphalt: #34495e;
$asbestos: #7f8c8d;
$concrete: #95a5a6;
$silver: #bdc3c7;
$clouds: #ecf0f1;
$cloudsD: #E1E5E7;
$wisteria: #8e44ad;
$amethyst: #9b59b6;
$belize: #2980b9;
$river: #3498db;
$alizarin: #e74c3c;

#sidebarRegion {
  width: 25%;
  height: calc(100% - 50px);
  margin-top: 50px;
  position: fixed;
  background-color: $clouds;
  overflow-y: scroll;

  .collapse-icon, .column-collapse {
    color: $midnight;
  }

  .fa {
    display: inline;
  }

  #sidebar {
    #keyspaceHeader {
      height: 50px;
      border-top: 2x solid $silver;
      border-bottom: 1px solid $asbestos;
      font-size: 20px;
      padding: 10px 0 0 20px;
    }

    #keyspacesContainer {
      // border-top: 2px solid $silver;
    }
  }

  .keyspace-row {
    border-top: 0.1em solid $cloudsD;
    border-bottom: 0.1em solid $silver;
    padding: 10px 20px;
    &:first-child {
      border-top: 1px solid $cloudsD;
    }
    &:last-child {
      border-bottom: none;
    }
    .keyspace-collapse-toggle {
      position: relative;
      cursor: pointer;
      .keyspace-collapse-icon {
        font-size: 16px;
        color: $silver;
      }
      .keyspace-name {
        position: absolute;
        font-size: 18px;
        top: -5px;
        left: 20px;
        .fa {
          padding-right: 5px;
        }
      }
      &:hover {
        .keyspace-collapse-icon {
          color: $river;
        }
      }
    }
  }
  .tables-container {
    padding: 5px 0 0 15px;
    .table-row {
      padding: 3px 0;
      .table-collapse-toggle {
        position: relative;
        cursor: pointer;
        .table-collapse-icon {
          color: $silver;
        }
        .table-name {
          position: absolute;
          left: 20px;
          .fa {
            padding-right: 5px;
          }
        }
        &:hover {
          .table-collapse-icon {
            color: $river;
          }
        }
      }
    }
  }
  .columns-container {
    padding: 5px 0 0 30px;
    .column-row {
      padding: 3px 0;
      border-bottom: 1px solid $cloudsD;
      .column-name {
        font-weight: 300;
        .fa {
          padding-right: 5px;
        }
      }
    }
  }
}