
$midnight: #2c3e50;
$asphalt: #34495e;
$silver: #bdc3c7;
$clouds: #ecf0f1;
$wisteria: #8e44ad;
$amethyst: #9b59b6;
$belize: #2980b9;
$river: #3498db;
$alizarin: #e74c3c;

#sidebarRegion {
  width: 25%;
  height: calc(100% - 50px);
  margin-top: 50px;
  position: fixed;
  background-color: $clouds;
  padding: 20px 20px;
  overflow-y: scroll;

  .collapse-icon, .column-collapse {
    color: $midnight;
  }

  .keyspace-row {
    padding: 10px 0;
    .keyspace-collapse-toggle {
      position: relative;
      cursor: pointer;
      .keyspace-collapse-icon {
        font-size: 16px;
        color: $silver;
      }
      .keyspace-name {
        position: absolute;
        font-size: 18px;
        top: -7px;
        left: 20px;
      }
      &:hover {
        .keyspace-collapse-icon {
          color: $river;
        }
      }
    }
  }
  .tables-container {
    padding-left: 15px;
    .table-row {
      padding: 5px 0;
      .table-collapse-toggle {
        position: relative;
        cursor: pointer;
        .table-collapse-icon {
          color: $silver;
        }
        .table-name {
          position: absolute;
          left: 20px;
        }
        &:hover {
          .table-collapse-icon {
            color: $river;
          }
        }
      }
    }
  }
  .columns-container {
    padding-left: 30px;
    .column-row {
      padding: 5px 0;
      .column-name {
        font-weight: 300;
      }
    }
  }
}