
$midnight: #2c3e50;
$asphalt: #34495e;
$silver: #bdc3c7;
$clouds: #ecf0f1;
$wisteria: #8e44ad;
$amethyst: #9b59b6;
$belize: #2980b9;
$river: #3498db;
$alizarin: #e74c3c;

#sidebarRegion {
  width: 25%;
  height: calc(100% - 50px);
  margin-top: 50px;
  position: fixed;
  background-color: $clouds;
  padding: 20px 30px;
  overflow-y: scroll;

  .table-collapse, .column-collapse {
    color: $midnight;
  }

  .keyspace {
    position: relative;
    padding: 10px 0;
    .collapse-toggle {
      cursor: pointer;
      .table-collapse {
        font-size: 16px;
        color: $silver;
      }
      .keyspace-name {
        position: absolute;
        font-size: 18px;
        top: 5px;
        left: 25px;
      }
      &:hover {
        .table-collapse {
          color: $river;
        }
      }
    }
  }
}