#queryRegion {
  position: absolute;
  width: 75%;
  height: 100%;
  left: 25%; }

#queryRegion > div {
  height: 100%; }
  #queryRegion > div #tabsRegion {
    width: 94%;
    height: 50px;
    background-color: #34495e;
    display: inline-block;
    position: relative; }
    #queryRegion > div #tabsRegion .query-tabs {
      position: absolute;
      top: 10px;
      padding: 0 25px; }
      #queryRegion > div #tabsRegion .query-tabs .query-tab {
        height: 40px;
        background-color: white;
        display: inline-block;
        width: 175px;
        border-radius: 7px 7px 0 0;
        text-align: center;
        padding-top: 10px;
        margin-right: 3px;
        font-size: 18px; }
        #queryRegion > div #tabsRegion .query-tabs .query-tab .tab-name {
          width: inherit;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          display: block;
          padding: 0 10px; }
  #queryRegion > div #queries {
    height: calc(100% - 50px); }
  #queryRegion > div #queries > div, #queryRegion > div .query-builder {
    height: 100%; }
  #queryRegion > div .query-field {
    height: 30%;
    position: relative;
    border-bottom: 1px solid #E1E5E7; }
    #queryRegion > div .query-field > textarea {
      width: 90%;
      height: 60%;
      position: absolute;
      top: 12.5%;
      left: 5%;
      resize: none;
      font-size: 18px;
      padding: 10px 15px;
      border-radius: 3px;
      background-color: #ecf0f1;
      border-color: #E1E5E7; }
      #queryRegion > div .query-field > textarea:focus {
        outline-color: #3498db; }
    #queryRegion > div .query-field > .run-query {
      position: absolute;
      bottom: 5%;
      right: 5%;
      color: #ecf0f1;
      background-color: #3498db; }
      #queryRegion > div .query-field > .run-query:hover {
        background-color: #2980b9; }
      #queryRegion > div .query-field > .run-query:focus {
        outline: none; }
  #queryRegion > div .resultsRegion {
    height: 70%;
    border-top: 1px solid #ecf0f1;
    margin: 0 1%;
    border: 1px solid #34495e;
    background-color: #ecf0f1;
    position: relative; }
    #queryRegion > div .resultsRegion .results-table {
      height: 100%;
      overflow-x: scroll; }
      #queryRegion > div .resultsRegion .results-table .fa-spinner {
        font-size: 100px;
        position: absolute;
        top: 40%;
        left: 45%;
        color: #3498db; }
      #queryRegion > div .resultsRegion .results-table .result-headers > tr {
        background-color: #34495e; }
        #queryRegion > div .resultsRegion .results-table .result-headers > tr th > div {
          color: white;
          padding: 5px 6px;
          border: 1px solid #bdc3c7;
          font-weight: 200; }
      #queryRegion > div .resultsRegion .results-table .result-rows .result-data-container {
        border: 1px solid #E1E5E7;
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 300px;
        padding: 3px 10px 3px 5px; }
