html, body, #appContent, #appContent > div {
  height: 100%; }

#appContent > div {
  position: relative; }

#conduitLabel {
  width: 25%;
  height: 50px;
  font-size: 30px;
  padding: 5px 0 5px 20px;
  position: fixed;
  background-color: #34495e;
  color: #ecf0f1; }

#queryRegion {
  position: absolute;
  width: 75%;
  height: 100%;
  left: 25%;
  border: 1px solid red; }

#sidebarRegion {
  width: 25%;
  height: calc(100% - 50px);
  margin-top: 50px;
  position: fixed;
  background-color: #ecf0f1;
  padding: 20px 30px;
  overflow-y: scroll; }
  #sidebarRegion .table-collapse, #sidebarRegion .column-collapse {
    color: #2c3e50; }
  #sidebarRegion .keyspace {
    position: relative;
    padding: 10px 0; }
    #sidebarRegion .keyspace .collapse-toggle {
      cursor: pointer; }
      #sidebarRegion .keyspace .collapse-toggle .table-collapse {
        font-size: 16px;
        color: #bdc3c7; }
      #sidebarRegion .keyspace .collapse-toggle .keyspace-name {
        position: absolute;
        font-size: 18px;
        top: 5px;
        left: 25px; }
      #sidebarRegion .keyspace .collapse-toggle:hover .table-collapse {
        color: #3498db; }
