html, body, #appContent, #appContent > div {
  height: 100%; }

#appContent > div {
  position: relative; }

#conduitLabel {
  width: 25%;
  height: 50px;
  font-size: 30px;
  padding: 5px 0 5px 20px;
  position: fixed;
  background-color: #34495e;
  color: #ecf0f1; }

#jsonModal .modal-body {
  padding: 15px 30px; }
  #jsonModal .modal-body > .parsed-json {
    white-space: pre-wrap; }
    #jsonModal .modal-body > .parsed-json .string {
      color: #16a085; }
    #jsonModal .modal-body > .parsed-json .number {
      color: #9b59b6; }
    #jsonModal .modal-body > .parsed-json .boolean {
      color: #e67e22; }
    #jsonModal .modal-body > .parsed-json .null {
      color: #bdc3c7; }
    #jsonModal .modal-body > .parsed-json .key {
      color: #2980b9; }
#jsonModal .close-btn {
  background-color: #3498db;
  color: #ecf0f1; }
  #jsonModal .close-btn:hover {
    background-color: #2980b9; }

#queryRegion {
  position: absolute;
  width: 75%;
  height: 100%;
  left: 25%; }

#queryRegion > div {
  height: 100%; }
  #queryRegion > div #tabsRegion {
    width: 100%;
    height: 50px;
    background-color: #34495e;
    display: inline-block;
    position: relative; }
    #queryRegion > div #tabsRegion .query-tabs {
      position: absolute;
      top: 10px;
      padding: 0 25px;
      margin-bottom: 0px; }
      #queryRegion > div #tabsRegion .query-tabs .query-tab {
        height: 40px;
        background-color: white;
        display: inline-block;
        width: 175px;
        border-radius: 7px 7px 0 0;
        text-align: center;
        padding-top: 10px;
        margin-right: 3px;
        font-size: 18px; }
        #queryRegion > div #tabsRegion .query-tabs .query-tab .tab-name {
          width: inherit;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          display: block;
          padding: 0 10px; }
  #queryRegion > div .query-button-container {
    display: inline-block;
    height: 50px;
    background-color: #34495e;
    width: 6%;
    position: fixed; }
    #queryRegion > div .query-button-container .add-query {
      font-size: 50px;
      color: white;
      position: absolute;
      left: 10px; }
  #queryRegion > div #queries {
    height: calc(100% - 55px); }
  #queryRegion > div #queries > div, #queryRegion > div .query-builder {
    height: 100%; }
  #queryRegion > div .query-field {
    height: 30%;
    position: relative;
    border-bottom: 1px solid #E1E5E7; }
    #queryRegion > div .query-field > textarea {
      width: 90%;
      height: 60%;
      position: absolute;
      top: 12.5%;
      left: 5%;
      resize: none;
      font-size: 18px;
      padding: 10px 15px;
      border-radius: 3px;
      background-color: #ecf0f1;
      border-color: #E1E5E7; }
      #queryRegion > div .query-field > textarea:focus {
        outline-color: #3498db; }
    #queryRegion > div .query-field > .run-query {
      position: absolute;
      bottom: 5%;
      right: 5%;
      color: #ecf0f1;
      background-color: #3498db; }
      #queryRegion > div .query-field > .run-query:hover {
        background-color: #2980b9; }
      #queryRegion > div .query-field > .run-query:focus {
        outline: none; }
  #queryRegion > div .resultsRegion {
    height: 70%;
    border-top: 1px solid #ecf0f1;
    margin: 0 1%;
    border: 1px solid #34495e;
    background-color: #ecf0f1;
    position: relative; }
    #queryRegion > div .resultsRegion .results-table {
      height: 100%;
      overflow-x: scroll;
      position: relative; }
      #queryRegion > div .resultsRegion .results-table .fa-spinner {
        font-size: 100px;
        position: absolute;
        top: 40%;
        left: 45%;
        color: #3498db; }
      #queryRegion > div .resultsRegion .results-table .headers-container {
        position: absolute; }
      #queryRegion > div .resultsRegion .results-table .result-headers > tr {
        background-color: #34495e; }
        #queryRegion > div .resultsRegion .results-table .result-headers > tr th > div {
          color: white;
          padding: 5px 6px;
          border: 1px solid #bdc3c7;
          font-weight: 200; }
      #queryRegion > div .resultsRegion .results-table .results-container {
        margin-top: 31px; }
      #queryRegion > div .resultsRegion .results-table .result-rows .result-data-container {
        border: 1px solid #E1E5E7;
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 3px 10px 3px 5px; }
      #queryRegion > div .resultsRegion .results-table .json-data {
        cursor: pointer; }
        #queryRegion > div .resultsRegion .results-table .json-data:hover {
          background-color: #bdc3c7; }

#sidebarRegion {
  width: 25%;
  height: calc(100% - 50px);
  margin-top: 50px;
  position: fixed;
  background-color: #ecf0f1;
  overflow-y: scroll; }
  #sidebarRegion .collapse-icon, #sidebarRegion .column-collapse {
    color: #2c3e50; }
  #sidebarRegion .fa {
    display: inline; }
  #sidebarRegion #sidebar #keyspaceHeader {
    height: 50px;
    border-top: 2x solid #bdc3c7;
    border-bottom: 1px solid #7f8c8d;
    font-size: 20px;
    padding: 10px 0 0 20px; }
  #sidebarRegion .keyspace-row {
    border-top: 0.1em solid #E1E5E7;
    border-bottom: 0.1em solid #bdc3c7;
    padding: 10px 20px; }
    #sidebarRegion .keyspace-row:first-child {
      border-top: 1px solid #E1E5E7; }
    #sidebarRegion .keyspace-row:last-child {
      border-bottom: none; }
    #sidebarRegion .keyspace-row .keyspace-collapse-toggle {
      position: relative;
      cursor: pointer; }
      #sidebarRegion .keyspace-row .keyspace-collapse-toggle .keyspace-collapse-icon {
        font-size: 16px;
        color: #bdc3c7; }
      #sidebarRegion .keyspace-row .keyspace-collapse-toggle .keyspace-name {
        position: absolute;
        font-size: 18px;
        top: -5px;
        left: 20px; }
        #sidebarRegion .keyspace-row .keyspace-collapse-toggle .keyspace-name .fa {
          padding-right: 5px; }
      #sidebarRegion .keyspace-row .keyspace-collapse-toggle:hover .keyspace-collapse-icon {
        color: #3498db; }
  #sidebarRegion .tables-container {
    padding: 5px 0 0 15px; }
    #sidebarRegion .tables-container .table-row {
      padding: 3px 0; }
      #sidebarRegion .tables-container .table-row .table-collapse-toggle {
        position: relative;
        cursor: pointer; }
        #sidebarRegion .tables-container .table-row .table-collapse-toggle .table-collapse-icon {
          color: #bdc3c7; }
        #sidebarRegion .tables-container .table-row .table-collapse-toggle .table-name {
          position: absolute;
          left: 20px; }
          #sidebarRegion .tables-container .table-row .table-collapse-toggle .table-name .fa {
            padding-right: 5px; }
        #sidebarRegion .tables-container .table-row .table-collapse-toggle:hover .table-collapse-icon {
          color: #3498db; }
  #sidebarRegion .columns-container {
    padding: 5px 0 0 30px; }
    #sidebarRegion .columns-container .column-row {
      padding: 3px 0;
      border-bottom: 1px solid #E1E5E7; }
      #sidebarRegion .columns-container .column-row .column-name {
        font-weight: 300; }
        #sidebarRegion .columns-container .column-row .column-name .fa {
          padding-right: 5px; }
