<div id="tabsRegion"></div>
<div class="query-tab-button-container">
  <i class="add-query-tab fa fa-plus" data-toggle="tooltip" data-placement="left" data-delay='{"show": 500, "hide": 0}' title="New tab"></i>
</div>
<div id="queries"></div>