<i class="fa fa-circle-o-notch fa-spin"></i>
<div class="error-container">
  <div class="error-message"></div>
</div>
<table class="headers-container">
  <thead class="result-headers"></thead>
</table>
<table class="rows-container">
  <tbody class="result-rows"></tbody>
</table>